$primary-color:#fff;
$secondary-color:#DC6226;
$para-color:#b1b6bc;
$dark:#000;
$gray:gray;
$bg-primary:#404A53;
$bg-secondary:#E8EDF1;
$font-small:16px,18px,19px;
$font-medium:25px,28px,32px;
$font-large:38px,40px,68px;
